body{
    box-sizing: border-box;
    font-family:Roboto, sans-serif;
}
header{
    display: inline-block;
    padding: 20px;
    background-color: #beebd8;
    width: 100%;
    height: 100px;
}

.cabecera a{
    margin: 20px;
    text-decoration: none;
    justify-content: space-between; /* Espacia los elementos */
    padding: 10px 20px;
    background-color: #f8f9fa;
    float:right;
}
.cabecera a:hover{
    border: solid 2px black;
    padding:10px 20px;
    color: blue;
}
.cabecera{
    display: flex;
    align-items: center;
}
#logo{
    width: 20em;
    padding-right: 20px;
    margin-right: 30px;
}
