body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)),
    url("imagenes/fondo.jpeg") center/cover;
}

header {
    padding: 20px;
    background-color: #beebd8;
    height: 120px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

main{
    margin-bottom: 10px;
}

footer{
    background:rgba(255, 255, 255, 0.8);
}

p{
    margin-bottom: 0px;
}

.cabecera{
    display: inline-block;
    padding: 20px;
    background-color: #beebd8;
    display: block;
    height: 120px;
    display: flex;
    align-items: center;
    border-radius: 10px;   
}
.cabecera img {
    float:left;
    padding-top: 20px;
}
.cabecera li a{
    margin: 20px;
    text-decoration: none;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: #ffffff;
    float:right;
    color:rgb(1, 60, 150);
    font-size: 20px;
    font-weight:900;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.cabecera li{
    list-style: none;   
}
li a:hover{
    outline: solid 2px rgb(1, 60, 150);
    padding: 15px 25px;
    background-color: rgb(1, 60, 150);
    color: white;
}
#logo {
    width: 250px;
    margin-right: 20px;
    padding-right: 20px;
}

.entrante{
    margin-bottom: 350px;
}

section {
    display: flex;
    color: #ffff;
}

article {
    margin: 20px;
}

.secciones article{
    text-align: center;
    letter-spacing: 2px;
}

article p{
    letter-spacing: 2px;
    font-weight: 400;
}

article img {
    width: 40px;
}

.titulo {
    float: left;
    font-size: 70px;
    width: 50%;
    font-weight: 600;
    color: rgb(1, 60, 150);
}

.subtitulo {
    float: left;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 300;
    color: rgb(1, 60, 150);
    width: 100%;
}

.secciones {
    background-color: rgb(1, 60, 150);
}