body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)),  
    url("imagenes/fondo.jpeg") no-repeat center/cover;
}

header {
    padding: 20px;
    background-color: #beebd8;
    height: 120px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

.cabecera {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cabecera ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.cabecera li {
    margin: 0 10px;
}

.cabecera a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #f8f9fa;
    color: black;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-weight: 900;
    font-size: 20px;
}

.cabecera a:hover {
    outline: solid 2px black;
    color: #15569E;
    background-color: #e9ecef;
}

#logo {
    width: 250px;
    margin-right: 20px;
}

section {
    display: flex;
    color: #ffff;
}

article {
    margin: 20px;
    display: inline-block;
}

article img {
    width: 40px;
}

.titulo {
    float: left;
    font-size: 70px;
    width: 50%;
    font-weight: 600;
    color: rgb(1, 60, 150);
}

.subtitulo {
    float: left;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 300;
    color: rgb(1, 60, 150);
    width: 100%;
}

.secciones {
    background-color: rgb(1, 60, 150);
}