body{
    box-sizing: border-box;
    font-family:Roboto, sans-serif;
}
.cabecera{
    display: inline-block;
    padding: 20px;
    background-color: #beebd8;
    display: block;
    height: 120px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.cabecera img {
    float:left;
    padding-top: 20px;
}
.cabecera a{
    margin: 20px;
    text-decoration: none;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: #ffffff;
    float:right;
    color:rgb(1, 60, 150);
    font-size: 20px;
    font-weight:900;
    border-radius: 10px;
}
a:hover{
    outline: solid 2px rgb(0, 60, 150);
    padding: 15px 25px;
}

#logo{
    width: 20em;
    padding-right: 20px;
    margin-right: 30px;
}
.clear{
    clear: both;
}
li{
    list-style: none;
}
main{
    padding-top:10%;
    padding-left:30px;
    padding-right:30px;
}
.titulo{
    float: left;
    font-size:70px;
    width: 50%;
    font-weight:600;
    color:rgb(1, 60, 150);
}
.subtitulo{
    float: left;
    padding-top:20px;
    font-size:40px;
    font-weight:300;
    color:rgb(1, 60, 150);
}
#separacion{
    padding-top: 20% ;
}
.somos{
    color: rgb(1, 60, 150);
    font-size:45px;
}
.textosomos{
    color: rgb(1, 60, 150);
    font-size: 20px;
    padding-top:20px;
}